body {
    font-family: 'consolas';
    margin: 0;
}

.game {
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
}

.start-screen{
    text-align: center;
    padding: 30px;
    font-size: 48px;
    width: 500px;
    background-color: lightgreen;
    position: absolute;    
    left: 50%;
    top: 30%;
    transform: translate(-50%);   
    border: 1px solid;
    border-radius: 30px;
}

.start-screen:hover{
    background-color: green;
    cursor: pointer;
}